botcity_excel_plugin==0.1.7
botcity_framework_base==0.4.2
botcity_framework_core==1.1.2
botcity_framework_web==0.8.3
botcity_maestro_sdk==0.4.0
botcity_ms365_credentials_plugin==0.2.0
botcity_ms365_outlook_plugin==0.1.0
cx_Oracle==8.3.0
cx_Oracle==8.3.0
pandas==2.1.4
PyAutoGUI==0.9.54
webdriver_manager==4.0.1
